p{  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size:110%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%;
}

@media(max-width: 1200px){
.links{
    display: none;
}
}

header{
    display: none;
}
.links{
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    font-family:sans-serif;
}
.links a{
    font-size: 25px;
    font-stretch: condensed;
    font-weight:bold;
    padding-top: 15px;
    font-style:normal;
    color:rgb(16, 1, 66);
    text-align: center;
    text-decoration: none;
}
.flex-links{
    font-size: 20px;
    margin-left: 50px;
    display: inline-grid;
}
.flex-container{
    margin:0%;
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
.flex-container > div  {
    backdrop-filter: blur(2px);
    width: 100%;
    background-color: rgba(3, 3, 54, 0.637);
    text-align: center;
}
.flex-container > div > h1{
    margin: 0%;
    font-size: 35px;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.219);
}
.flex-container > div > img{
    width: 150px;
    height: 120px;
}

h2{
    margin: 0%;
    font-size: 130%;
    color:rgb(0, 217, 255);
}
body{
    margin: 0%;
    background-color: black;
    background-image:url(./imgs/pattern.png);
}
body::-webkit-scrollbar{
    overflow:hidden;
    margin-left: 0%;
}

h3{
    color: azure;
    font-weight:bold;
    padding-top: 15px;
    font-style:normal;
    text-align: center;
    text-decoration: none;
}
select{
    overflow: hidden;
    
}

